.panel {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.lead-table {
    width: 100%;
    border-collapse: collapse;
}

.lead-table th {
    text-align: left;
    font-size: 13px;
    color: #666;
    padding: 10px;
}

.lead-table td {
    padding: 10px;
    border-top: 1px solid #eee;
}
td:last-child {
    font-weight: 600;
}

td:last-child::before {
    content: "● ";
    color: #0176d3;
}